html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}









* {
	font-family: sans-serif;
}

body {
	/*background: url("https://static.pexels.com/photos/110322/pexels-photo-110322.jpeg");*/
	/*background: url("http://www.publicdomainpictures.net/pictures/50000/velka/nature-background-31.jpg");*/
	background: url("https://static.pexels.com/photos/9754/mountains-clouds-forest-fog.jpg");
	background-size: cover;
}


/*Header code*/

#header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: sans-serif;
	background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(100, 100, 100, 0));
	padding-bottom: 30px;
	z-index: 5;
}

#img{
	width: 100%;
	text-align: center;
}

#mail {
  font-size: 17px;
  color: rgba(250, 0, 0, 0.5);
}

#header h2 {
	font-size: 30px;
  font-weight: bold;
	text-decoration: underline;
  text-transform: full-width;
  text-shadow: 0px 2px 0px rgba(255, 255, 255, 0.5);
	color: #1C1C1C;
	padding-top: 25px;
	padding-bottom: 20px;
}

.ok {
  font-size: 30px;
  font-weight: lighter;
	color: #1C1C1C;
	text-decoration: overline;
}

.bold {
  font-size: 30px;
  font-weight: bold;
}

#header ul li {
	font-size: 15px;
  letter-spacing: 1.5px;
	color: black;
	padding-top: 15px;
}

#infos, #coordonnées {
	width: 50%;
	text-align: center;
}

img {
	height: 200px;
  border-radius: 100%;
	margin-top: -170px;
	z-index: 10;
}




/*Main code*/

#bio {
	border-radius: 1%;
  background: linear-gradient(rgba(237, 237, 237, 0.4), rgba(100, 100, 100, 0));
	width: calc(33% - 36px);
	margin: 50px 0px 30px 30px;
}

#bio p {
	margin-top: 20px;
  padding: 0px 15px;
	line-height: 40px;
  color: black;
  font-size: 15px;
  text-shadow: 1px 0px 0px white;
}

#bio h2 {
	margin-top: 17px;
  margin-left: 15%;
  line-height: 6px;
	color: black;
  width: 70%;
  height: 1px;
}

#center, #compet {
	width: 33%;
}

main h2 {
	font-size: 30px;
	color: #CF2121;
  text-shadow: 0px 2px 0px rgba(255, 255, 255, 0.5);
  text-transform: full-width;
}

#flexbox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#compet {
	padding-top: 100px;
}

#flexbox div {
	text-align:center;
}

#flexbox h2 {
	font-size: 35px;
	padding-bottom: 35px;
	padding-top: 25px;
}

#flexbox ul li {
	font-size: 20px;
  color: black;
  text-shadow: 1px 0px 0px white;
	padding-bottom: 20px;
}




/*RESPONSIVE*/


/*//////////////////////Mobile responsive//////////////////*/

@media screen and (max-width: 700px) {

    /*header responsive*/

    #header h2, .ok, .ok3, .bold {
        font-size: 12px;

    }

    img {
			  margin-top: 10px;
        height: 100px;
    }

    #header ul li {
        font-size: 10px;
    }

    #mail {
        font-size:10px;
        font-weight: bold;
    }

    #header #left li {
        text-align: left;
    }

     #header #right li {
        text-align: right;
    }

    .hidden {
        display: none
    }



    /*Main responsive*/

    body {
        background: url("https://c1.staticflickr.com/5/4048/4527721146_753afa939b.jpg");
				background-size: cover;
				background-repeat: no-repeat;
				background-attachment: fixed;
    }

    #bio, #compet, #center {
        display: block;
        width: 100%;
    }

    #bio {
        margin-left: 0px;
    }

		#bio p {
			font-size: 12px;
		}

		#flexbox ul li {
			font-size: 14px;
		}

		#flexbox h2 {
			font-size: 22px;
		}
}


/*//////////////////////////Tablette responsive/////////////////////////////*/

@media all and (min-width: 701px) and (max-width: 1200px) {

	/*header responsive*/

	#header h2, .ok, .ok3, .bold {
			font-size: 17px;
	}

	img {
			height: 200px;
	}

	#header ul li {
			font-size: 15px;
	}

	#mail {
			font-size: 15px;
			font-weight: bold;
	}

	#header #left li {
			text-align: left;
			margin-left: 50px;
	}

	 #header #right li {
			text-align: right;
			margin-right: 50px;
	}

	.hidden {
			display: none
	}


	/*Main responsive*/

	body {
			background: url("https://static.pexels.com/photos/9754/mountains-clouds-forest-fog.jpg");
	}

	#center {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
	}

	#center div {
		width: 50%;
	}

	#bio, #compet {
			display: block;
			width: 100%;
	}

	#bio {
		  width: 60%;
			margin-left: 20%;
	}

	#bio p {
		font-size: 14px;
	}

	#flexbox ul li {
		font-size: 14px;
	}

	#flexbox h2 {
		font-size: 22px;
	}
}
